.footerMain {
  width: 120%;
  position: relative;
  margin-top: 0;
  top: 0px;
  bottom: 0px;
  margin-left: -100px;
}

.footerBgWrapper {
  position: relative;
  width: 96%;
  z-index: 20;
  top: 116px;
  margin-left:-77px;
  margin-top: -150px;
}

.footerBg {
  width: 98%;
  display: block;
  z-index: 12;
  top: 0px;
  margin-top: 0;
  
}

.footerLinks {
  position: absolute;
  bottom: -90px;
  right: 380px;
  display: flex;
  flex-direction: row;
  /* gap: 140px; */
  z-index: 20;
  /* margin-left: -100px; */
}

.footerLinks button {
  background: transparent;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  position: relative;
  margin-left: 220px;
}

.footerLinks button::after {
  content: "|";
  color: white;
  position: absolute;
  right: -190px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.footerLinks button:last-child::after {
  content: "";
}

/* Responsive Media Queries */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .footerMain {
    width: 100%;
    margin-left: 0;
    top: 0;
  }
  .footerBgWrapper {
    width: 100%;
    margin-left: 0;
    top: 10px;
    margin-top: -50px;
  }
  .footerBg {
    width: 100%;
    margin-top: 350px;
  }
  .footerLinks {
    background-color: black;
    position: absolute;
    flex-direction: row;
    align-items: center;
    right: 80px;
    bottom: -10px;
    margin: 0;
    /* gap: 0.5rem; */
  }
  .footerLinks button {
    font-size: 1rem;
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
  .footerLinks button::after {
    right: -10px;
    font-size: 1rem;
  }
}

/* Small devices (landscape phones, 576px and up) */

/* @media (min-width: 576px) and (max-width: 767.98px) {
  .footerMain {
    width: 100%;
    margin-left: 0;
  }
  .footerBgWrapper {
    width: 100%;
    margin-left: 0;
    top: 60px;
    margin-top: -80px;
  }
  .footerBg {
    width: 100%;
  }
  .footerLinks {
    position: static;
    flex-direction: row;
    justify-content: center;
    right: 0;
    bottom: 0;
    margin: 0;
    gap: 1rem;
  }
  .footerLinks button {
    font-size: 1.2rem;
    margin-left: 0;
  }
  .footerLinks button::after {
    right: -15px;
    font-size: 1.2rem;
  }
} */

/* Medium devices (tablets, 768px and up) */

/* @media (min-width: 768px) and (max-width: 991.98px) {
  .footerMain {
    width: 100%;
    margin-left: 0;
  }
  .footerBgWrapper {
    width: 98%;
    margin-left: -10px;
    top: 80px;
    margin-top: -100px;
  }
  .footerBg {
    width: 98%;
  }
  .footerLinks {
    position: absolute;
    bottom: -40px;
    right: 80px;
    flex-direction: row;
    gap: 2rem;
  }
  .footerLinks button {
    font-size: 1.5rem;
    margin-left: 40px;
  }
  .footerLinks button::after {
    right: -30px;
    font-size: 1.5rem;
  }
} */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .footerMain {
    width: 110%;
    margin-left: -40px;
  }
  .footerBgWrapper {
    width: 96%;
    margin-left: -40px;
    top: 100px;
    margin-top: -120px;
  }
  .footerBg {
    width: 96%;
  }
  .footerLinks {
    position: absolute;
    bottom: -70px;
    right: 200px;
    flex-direction: row;
    gap: 3rem;
  }
  .footerLinks button {
    font-size: 1.8rem;
    margin-left: 100px;
  }
  .footerLinks button::after {
    right: -60px;
    font-size: 1.8rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

/* @media (min-width: 1200px) {
  .footerMain {
    width: 120%;
    margin-left: -100px;
  }
  .footerBgWrapper {
    width: 96%;
    margin-left: -77px;
    top: 116px;
    margin-top: -150px;
  }
  .footerBg {
    width: 98%;
  }
  .footerLinks {
    position: absolute;
    bottom: -90px;
    right: 380px;
    flex-direction: row;
    gap: 4rem;
  }
  .footerLinks button {
    font-size: 2rem;
    margin-left: 220px;
  }
  .footerLinks button::after {
    right: -190px;
    font-size: 2rem;
  }
} */

 