@media (max-width: 1024px) {
  .navbarContainer {
    height: 180px;
    padding-right: 2rem;
  }
  .sun {
    height: 500px;
    width: 500px;
    top: -200px;
    margin-left: -200px;
  }
  .sunLight {
    height: 700px;
    width: 700px;
    top: -300px;
    margin-left: -300px;
  }
  .jungleMorals {
    height: 80px;
    width: 80px;
    top: 5px;
    margin-left: 0px;
    margin-top: -10px;
  }
  .homeCloud {
    width: 120px;
    height: 80px;
    margin-top: 5px;
    margin-left: 60px;
  }
  .homeCloudText {
    font-size: 1.2rem;
    margin-top: -1rem;
  }
  .theWhyCloud {
    width: 120px;
    height: 80px;
    margin-top: 5px;
    margin-left: 180px;
  }
  .theWhyCloudText {
    font-size: 1rem;
    margin-top: -1rem;
  }
  .whatCloud {
    width: 120px;
    height: 80px;
    margin-left: 10px;
    margin-top: 40px;
  }
  .whatCloudText {
    font-size: 1rem;
    margin-top: -2rem;
  }
  .charactersCloud {
    width: 120px;
    height: 80px;
    margin-left: 80px;
    margin-top: 60px;
  }
  .charactersCloudText {
    font-size: 1rem;
    margin-top: -2rem;
  }
}

@media (max-width: 600px) {
  .navbarContainer {
    height: 120px;
    padding-right: 0.5rem;
  }
  .sun {
    height: 200px;
    width: 200px;
    top: -80px;
    margin-left: -60px;
  }
  .sunLight {
    height: 300px;
    width: 300px;
    top: -120px;
    margin-left: -100px;
  }
  .jungleMorals {
    height: 40px;
    width: 40px;
    top: 2px;
    margin-left: 0px;
    margin-top: -5px;
  }
  .homeCloud {
    width: 60px;
    height: 40px;
    margin-top: 2px;
    margin-left: 20px;
  }
  .homeCloudText {
    font-size: 0.7rem;
    margin-top: -0.5rem;
  }
  .theWhyCloud {
    width: 60px;
    height: 40px;
    margin-top: 2px;
    margin-left: 60px;
  }
  .theWhyCloudText {
    font-size: 0.7rem;
    margin-top: -0.5rem;
  }
  .whatCloud {
    width: 60px;
    height: 40px;
    margin-left: 5px;
    margin-top: 15px;
  }
  .whatCloudText {
    font-size: 0.7rem;
    margin-top: -1rem;
  }
  .charactersCloud {
    width: 60px;
    height: 40px;
    margin-left: 30px;
    margin-top: 20px;
  }
  .charactersCloudText {
    font-size: 0.7rem;
    margin-top: -1rem;
  }
}
.navbarContainer {
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 5rem;
}

.sun {
  height: 1000px;
  width: 1000px;
  top: -430px;
  margin-left: -425px;
  position: absolute;
  object-fit: contain;
}

.sunLight {
  height: 1500px;
  width: 1400px;
  top: -650px;
  position: absolute;
  margin-left: -550px;
}

.jungleMorals {
  height: 150px;
  width: 150px;
  top: 10px;
  position: absolute;
  margin-left: 5px;
  margin-top: -30px;
  object-fit: contain;
}

.homeCloudOuter {
  margin-left: -630px;
  margin-top: 6px;
}

.homeCloud {
  width: 250px;
  height: 200px;
  margin-top:10px;
  margin-left: 220px;
  z-index: 3;
}

.homeCloudText {
  font-size: 3rem;
  font-weight: bold;
  margin-top: -2rem;
  color: rgb(44, 238, 40)
}

.theWhyCloudOuter {
   margin-left: -600px;
  margin-top: 5px;
}

.theWhyCloud {
   width: 250px;
  height: 200px;
  margin-top:20px;
  margin-left: 650px;
  /* z-index: 3; */
}

.theWhyCloudText {
  font-size: 2rem;
  font-weight: bold;
  margin-top: -3rem;
}

.whatCloudOuter {
  width: 250px;
  height: 200px;
  margin-top:-35px;
  margin-left: -150px;
}

.whatCloud {
  width: 300px;
  height: 250px;
  margin-left: -60px;
  margin-top: 120px;
  z-index: 2;
}

.whatCloudText {
  font-size:2rem;
  font-weight: bold;
  margin-top: -4rem;
}

.charactersCloudOuter {
  margin-left: -60px;
  margin-top: -40px;
}

.charactersCloud {
  width: 300px;
  height: 300px;
  margin-left: 270px;
  margin-top: 160px;
}

.charactersCloudText {
  font-size: 2rem;
  font-weight: bold;
  margin-top: -8rem;
}

.emptyCloud {
  width: 230px;
  height: 200px;
  margin-left: 400px;
  margin-top: -20px;
}

.cloudWrapper {
  position: relative;
  width: 600px;
  height: 300px;
  padding-right: 100px;
}

.cloud {
  position: absolute;
  width: 300px;
  height: 150px;
}

.cloudImg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cloudText {
  position: absolute;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whyCloud {
  margin-left: -40px;
  margin-top: 20px;
  z-index: 3;
}

.lastCloud {
  margin-left: 310px;
  margin-top: 10px;
  z-index: 2;
}
