.navbarContainer {
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 5rem;
}

.sun {
  height: 1000px;
  width: 1000px;
  top: -430px;
  margin-left: -425px;
  position: absolute;
  object-fit: contain;
}

.sunLight {
  height: 1500px;
  width: 1400px;
  top: -650px;
  position: absolute;
  margin-left: -550px;
}

.jungleMorals {
  height: 150px;
  width: 150px;
  top: 10px;
  position: absolute;
  margin-left: 5px;
  margin-top: -30px;
  object-fit: contain;
}

.homeCloudOuter {
  margin-left: -630px;
  margin-top: 6px;
}

.homeCloud {
  width: 250px;
  height: 200px;
  margin-top: 10px;
  margin-left: 220px;
  z-index: 3;
}

.homeCloudText {
  font-size: 3rem;
  font-weight: bold;
  margin-top: -2rem;
  color: rgb(44, 238, 40)
}

.theWhyCloudOuter {
  margin-left: -600px;
  margin-top: 5px;
}

.theWhyCloud {
  width: 250px;
  height: 200px;
  margin-top: 20px;
  margin-left: 650px;
  /* z-index: 3; */
}

.theWhyCloudText {
  font-size: 2rem;
  font-weight: bold;
  margin-top: -3rem;
}

.whatCloudOuter {
  width: 250px;
  height: 200px;
  margin-top: -35px;
  margin-left: -150px;
}

.whatCloud {
  width: 300px;
  height: 250px;
  margin-left: -60px;
  margin-top: 120px;
  z-index: 2;
}

.whatCloudText {
  font-size: 2rem;
  font-weight: bold;
  margin-top: -4rem;
}

.charactersCloudOuter {
  margin-left: -60px;
  margin-top: -40px;
}

.charactersCloud {
  width: 300px;
  height: 300px;
  margin-left: 270px;
  margin-top: 160px;
}

.charactersCloudText {
  font-size: 2rem;
  font-weight: bold;
  margin-top: -8rem;
}

.emptyCloud {
  width: 230px;
  height: 200px;
  margin-left: 400px;
  margin-top: -20px;
}

.cloudWrapper {
  position: relative;
  width: 600px;
  height: 300px;
  padding-right: 100px;
}

.cloud {
  position: absolute;
  width: 300px;
  height: 150px;
}

.cloudImg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cloudText {
  position: absolute;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whyCloud {
  margin-left: -40px;
  margin-top: 20px;
  z-index: 3;
}

.lastCloud {
  margin-left: 310px;
  margin-top: 10px;
  z-index: 2;
}

/* Responsive Media Queries */
/* Extra small devices (portrait phones, less than 576px) */
  @media screen and (max-width: 575.98px) {
  .navbarContainer {
    height: 120px;
    padding-right: 1rem;
    flex-direction: column;
    justify-content: center;
  }
  .sun, .sunLight {
    height: 300px;
    width: 300px;
    top: -125px;
    margin-left: -125px;
  }
  .jungleMorals {
    height: 50px;
    width: 50px;
    margin-top:-15px;
    margin-left: 2px;
  }
  .homeCloud {
    width: 80px;
    height: 40px;
    margin-left: 46rem;
    margin-top: 1px;
  }
   .whatCloud{
    width: 80px;
    height: 80px;
    margin-left: 18.5rem;
    margin-top: 82px;

   }
  .theWhyCloud{
    width: 80px;
    height: 60px;
    margin-left: 50rem;
    margin-top: 1px;

  }
  .charactersCloud{
    width: 80px;
    height: 60px;
    margin-left: 19.5rem;
    margin-top: 80px;
  }
  .emptyCloud{
    width: 80px;
    height: 70px;
    margin-left: 19rem;
    margin-top: -7px;
  }
  .cloudWrapper {
    width: 100%;
    height: 120px;
    padding-right: 0;
  }
  .cloudText, .homeCloudText {
    font-size: 0.9rem;
    margin-top: 10px;
  }
  .theWhyCloudText{
    font-size: 0.7rem;
    margin-top: -1px;
  }
    .charactersCloudText {
    font-size: 0.8rem;
    margin-top: -10px;
  }
  .whatCloudText{
    font-size: 0.7rem;
    margin-top: -16px;
  }
}

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) and (max-width: 767.98px) {
  .navbarContainer {
    height: 180px;
    padding-right: 2rem;
  }
  .sun, .sunLight {
    height: 400px;
    width: 400px;
    top: -150px;
    margin-left: -150px;
  }
  .jungleMorals {
    height: 80px;
    width: 80px;
    margin-top: -10px;
  }
  .homeCloud, .theWhyCloud, .whatCloud, .charactersCloud, .emptyCloud {
    width: 150px;
    height: 100px;
    margin-left: 0;
    margin-top: 10px;
  }
  .cloudWrapper {
    width: 100%;
    height: 180px;
    padding-right: 0;
  }
  .cloudText, .homeCloudText, .theWhyCloudText, .whatCloudText, .charactersCloudText {
    font-size: 1.2rem;
    margin-top: 0;
  }
} */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbarContainer {
    height: 120px;
    padding-right: 1rem;
    flex-direction: column;
    justify-content: center;
  }
  .sun, .sunLight {
    height: 500px;
    width: 500px;
    top: -207px;
    margin-left: -208px;
  }
  .jungleMorals {
    height: 80px;
    width: 80px;
    margin-top:-15px;
    margin-left: 2px;
  }
  .homeCloud {
    width: 150px;
    height: 80px;
    margin-left: 43rem;
    margin-top: -1px;
  }
   .whatCloud{
    width: 150px;
    height: 80px;
    margin-left: 20.5rem;
    margin-top: 96px;

   }
  .theWhyCloud{
    width: 150px;
    height: 80px;
    margin-left: 56rem;
    margin-top: 1px;

  }
  .charactersCloud{
    width: 150px;
    height: 90px;
    margin-left: 27.8rem;
    margin-top: 120px;
  }
  .emptyCloud{
    width: 150px;
    height: 90px;
    margin-left: 30rem;
    margin-top: 1px;
  }
  .cloudWrapper {
    width: 100%;
    height: 120px;
    padding-right: 0;
  }
  .cloudText, .homeCloudText {
    font-size: 1.6rem;
    margin-top: 10px;
  }
  .theWhyCloudText{
    font-size: 1.4rem;
    margin-top: 20px;
  }
    .charactersCloudText {
    font-size: 1.4rem;
    margin-top: 6px;
  }
  .whatCloudText{
    font-size: 1.2rem;
    margin-top: 26px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbarContainer {
    height: 120px;
    padding-right: 1rem;
    flex-direction: column;
    justify-content: center;
  }
  .sun, .sunLight {
    height: 700px;
    width: 700px;
    top: -297px;
    margin-left: -298px;
  }
  .jungleMorals {
    height: 100px;
    width: 100px;
    margin-top:-22px;
    margin-left: 2px;
  }
  .homeCloud {
    width: 170px;
    height: 90px;
    margin-left: 38rem;
    margin-top: -1px;
  }
   .whatCloud{
    width: 170px;
    height: 90px;
    margin-left: 17rem;
    margin-top: 96px;

   }
  .theWhyCloud{
    width: 170px;
    height: 90px;
    margin-left: 54rem;
    margin-top: 1px;

  }
  .charactersCloud{
    width: 190px;
    height: 110px;
    margin-left: 26rem;
    margin-top: 125px;
  }
  .emptyCloud{
    width: 190px;
    height: 110px;
    margin-left: 29rem;
    margin-top: 2px;
  }
  .cloudWrapper {
    width: 100%;
    height: 120px;
    padding-right: 0;
  }
  .cloudText, .homeCloudText {
    font-size: 2.5rem;
    margin-top: 17px;
  }
  .theWhyCloudText{
    font-size: 1.7rem;
    margin-top: 30px;
  }
    .charactersCloudText {
    font-size: 1.4rem;
    margin-top: 6px;
  }
  .whatCloudText{
    font-size: 1.2rem;
    margin-top: 26px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .navbarContainer {
    height: 120px;
    padding-right: 1rem;
    flex-direction: column;
    justify-content: center;
  }
  .sun, .sunLight {
    height: 90vh;
    width: 90vh;
    top: -38vh;
    margin-left: -38vh;
  }
  .jungleMorals {
    height: 15vh;
    width: 15vh;
    margin-top:-3vh;
    margin-left: 2px;
  }
  .homeCloud {
    /* position: relative; */
    width: 30vh;
    height: 10vh;
    margin-left: -10vw;
    margin-top: -1px;
  }
   .whatCloud{
    width: 170px;
    height: 90px;
    margin-left: 17rem;
    margin-top: 96px;

   }
  .theWhyCloud{
    width: 170px;
    height: 90px;
    margin-left: 54rem;
    margin-top: 1px;

  }
  .charactersCloud{
    width: 190px;
    height: 110px;
    margin-left: 26rem;
    margin-top: 125px;
  }
  .emptyCloud{
    width: 190px;
    height: 110px;
    margin-left: 29rem;
    margin-top: 2px;
  }
  .cloudWrapper {
    width: 100%;
    height: 120px;
    padding-right: 0;
  }
  .cloudText, .homeCloudText {
    font-size: 2.5rem;
    margin-top: 17px;
  }
  .theWhyCloudText{
    font-size: 1.7rem;
    margin-top: 30px;
  }
    .charactersCloudText {
    font-size: 1.4rem;
    margin-top: 6px;
  }
  .whatCloudText{
    font-size: 1.2rem;
    margin-top: 26px;
  }
}
