* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden !important;
  height: 100vh;
  margin: 0;
  padding: 0;
}


.grassContainer {
  background-image: url('../assets/webp/bggrass.webp');
  background-size: cover;
  top: 29.5vw !important;
  height: auto;
  min-height: 250vh;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 0;
}

.topSection {
  position: relative;
  /* top:-30rem */
}

.treebottomgrass {
  position: absolute;
  left: -0.5vw;
  width: 140%;
  margin-top: 25vw;
  z-index: 10;
}

.treeContainer {
  position: relative;
  width: 38%;
}

.tree {
  width: 90%;
  position: absolute;
  top: -8.5vw;
  margin-left: 9.2vw;
  z-index: 11;
}

.treeLinks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.treeLinks a {
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  pointer-events: auto;
  display: block;
}

.treeLinks a img {
  width: 100%;
  height: auto;
  display: block;
}

.jingles {
  position: absolute;
  top: 7vw;
  left: 9.8vw;
  width: 12.9vw;
  z-index: 20;
}

.jingles h3{
   position: absolute;
  top: 3vw;
  left: 2.8vw;
  font-size: 2.48vw;
  color: #0f766e;
  width: 12.9vw;
  z-index: 20;
}

.interactive {
  position: absolute;
  top: 6.2vw;
  left: 27.4vw;
  width: 15vw;
  z-index: 20;
}

.interactive h3{
   position: absolute;
  top: 3vw;
  left: 1.5vw;
  font-size: 2.38vw;
  color: #0f766e;
  width: 12.9vw;
  z-index: 20;
}

.stories {
  position: absolute;
  top: 18.7vw;
  left: 27.5vw;
  width: 10.5vw;
  z-index: 20;
}

.stories h3{
   position: absolute;
  top: 1.4vw;
  left: 1.5vw;
  font-size: 2.38vw;
  color: #0f766e;
  width: 12.9vw;
  z-index: 20;
}

.mountainContainer {
  position: relative;
}

.mountain {
  position: absolute;
  top: -22.3vw;
  width: 90%;
  height: 59vw;
  left: 15vw;
  z-index: 2;
}

.boardContainer {
  position: absolute;
  top: 4.7vw;
  right: 2.5vw;
  z-index: 6;
}

.board {
  width: 24.8vw;
  height: auto;
}

.boardText {
  position: absolute;
  top: 40%;
  left: 52%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.48vw;
  font-weight: bold;
  text-align: center;
  line-height: 1.1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  width: 80%;
}

.boardText h1{
    font-size: 1.78vw;
}

.riverContainer {
  position: relative;
  top: -1.5vw;
  left: 30.2vw;
}

.river {
  position: absolute;
  width: 90%;
  top: 4.3vw;
  left: -42.6vw;
  z-index: 2;
}

.flowerCaveSection {
  position: absolute;
  margin-top: -5%;
  left: 4%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flowers {
  height: 12.5vw;
  position: relative;
  z-index: 4;
  margin-top: 7.2vw;
  margin-left: 57.7vw;
  width: 50%;
}

.patchleft {
  position: absolute;
  width: 33%;
  left: 51.2vw;
  top: 23.6vw;
  z-index: 5;
}

.patchright {
  position: absolute;
  width: 33%;
  left: 0.5vw;
  top: 23vw;
  z-index: 5;
}

.caveContainer {
  position: absolute;
  margin-top: 13%;
  margin-left: -27%;
  width: 55%;
  text-align: center;
  z-index: 10;
}

.cave {
  width: 120%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.caveText {
  position: absolute;
  top: 38%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #0f766e;
}

.caveText2 {
  position: absolute;
  top: 52%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  color: #0f766e;
}

.para1SVG {
  font-size: 4.6vw;
  font-weight: bold;
  fill: #0f766e;
}

.para2SVG {
  font-size: 2vw;
  font-weight: bold;
  fill: #004b23;
}

.charactersContainer {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 20;
}

.leftGroup {
  position: relative;
  width: 40%;
}

.wood {
  width: 72%;
  position: relative;
  margin-bottom: -52.5vw;
  left: 3.3vw;
  z-index: 1;
}

.tiger {
  width: 50%;
  position: relative;
  margin-bottom: -65vw;
  left: 20%;
  z-index: 2;
}

.tigerPaw {
  position: absolute;
  width: 2vw;
  padding-top: 42.6vw;
  margin-bottom: 19.7vw;
  margin-left: 7.2vw;
  z-index: 3002;
  cursor: pointer;
  pointer-events: auto;
}

.backdropLayer {
  position: fixed;
  inset: 0;
  background: rgba(255, 252, 252, 0.35);
  backdrop-filter: blur(6px);
  z-index: 3000;
}

.centerModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3001;
  display: grid;
  place-items: center;
}

.centerImg {
  max-width: min(720px, 90vw);
  max-height: 86vh;
  height: auto;
  display: block;
  filter: drop-shadow(0 10px 24px rgba(0,0,0,0.35));
  border-radius: 12px;
  background: #fff0;
}

.rightGroup {
  position: relative;
  width: 40%;
}

.table {
  width: 75%;
  position: relative;
  bottom: -30.2vw;
  right: -19.7vw;
  z-index: 1;
}

.elphe {
  width: 65%;
  position: absolute;
  bottom: -44.6vw;
  right: -1%;
  z-index: 2;
}

.elphepaw {
  position: relative;
  width: 2.3vw;
  margin-bottom: -78.8vw;
  margin-left: -37%;
  z-index: 3002;
  cursor: pointer;
  pointer-events: auto;
}

.boatWrapper {
  position: absolute;
  width: 70%;
  top: 11.8vw;
  margin-left: 0.66vw;
  transform: translateX(-50%);
  z-index: 90;
  pointer-events: none;
}

.boat {
  width: 100%;
  display: block;
}

.boatBtn {
  position: absolute;
  top: 61.5%;
  left: 80.7%;
  transform: translate(-50%, -50%);
  background: inherit;
  color: #0f766e;
  border: none;
  padding: 1vw 2vw;
  font-size: 1.4vw;
  font-weight: bold;
  border-radius: 0.8vw;
  cursor: pointer;
  z-index: 200;
  pointer-events: auto;
}

/* .aboutUsSection {
  position: absolute;
  margin-top: -35%;
  margin-right: 0.66vw;
  z-index: 10;
}

.aboutUsImageWrapper {
  position: relative;
  width: 110%;
  overflow: hidden;
  z-index: 10;
}

.aboutUsImage {
  width: 55%;
  display: block;
  margin-left: 40%;
  z-index: -50;
}

.aboutUsContent {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 20%;
  transform: translate(-50%, -50%);
  width: 47%;
  padding: 2rem 2rem 1rem 2rem;
  background: transparent;
  line-height: 1.7;
  word-wrap: break-word;
  text-align: center;
  text-shadow: 1px 1px 8px #fff;
  border-radius: 1rem;
  box-sizing: border-box;
  z-index: 2;
  text-decoration: none;
}

.aboutUsContent h2 {
  font-size: 3.3vw;
  color: #2fa43e;
  margin-bottom: -0.66vw;
  margin-left: -1.6vw;
  margin-top: 0.066vw;
  font-weight: bold;
}

.aboutText {
  font-size: 1.05vw;
  color: black;
  line-height: 1.8;
  word-wrap: break-word;
  text-align: left;
  margin-left: 16.4vw;
  margin-right: 7.9vw;
  margin-bottom: 13.8vw;
}

.readMore {
  position: absolute;
  font-size: 0.92vw;
  font-weight: bold;
  cursor: pointer;
  color: #2fa43e;
  margin-top: -10.4vw;
  margin-left: -22.3vw;
} */



.aboutUsSection {
  position: absolute;
  top: 108vw;
  left: 0;
  width: 100%;
  z-index: 10;
}

.aboutUsImageWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5vw;
  /* z-index: 10; */
}

.aboutUsImage {
  width: 50vw;
  display: block;
  z-index: 1;
}

.aboutUsContent {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 31vw;
  padding: 1.3vw;
  background: transparent;
  line-height: 1.7;
  word-wrap: break-word;
  text-align: center;
  text-shadow: 1px 1px 8px #fff;
  border-radius: 1rem;
  box-sizing: border-box;
  z-index: 2;
  text-decoration: none;
}

.aboutUsContent h2 {
  font-size: 3.8vw;
  color: #0f766e;
  margin-bottom: 0.5vw;
  margin-top: 0;
  font-weight: bold;
  text-align: center;
}

.aboutText {
  font-size: 1.35vw;
  color: black;
  line-height: 1.6;
  word-wrap: break-word;
  text-align: left;
  margin: 0.5vw 0 2vw 0;
  padding: 0 1vw;
}

.readMore {
  display: inline-block;
  font-size: 0.92vw;
  font-weight: bold;
  cursor: pointer;
  color: #0f766e;
  margin-top: -10vw;
  text-align: center;
}


@media (max-width: 575.98px) {
  .grassContainer {
  background-image: url('../assets/webp/bggrass.webp');
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-position: bottom center; */
  /* top: -220px !important; */
  height:auto;
  min-height: 75vh;
  position: relative;
  /* background-color: transparent; */
  padding-bottom: 0;
  margin-bottom: 0;
}

.topSection {
  position: relative;
  top: -24rem;

}


.boardText {

  top: 30%;
  left: 52%;

}

.boardText h1{
    font-size: 1.48vw;
     position: absolute;
     margin-top: -25%;
     margin-left: 25%;
}




.caveContainer {
  position: absolute;
  margin-top: 13%;
  margin-left: -27%;
  width: 55%;
  text-align: center;
  z-index: 10;
}

.cave {
  width: 120%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.caveText {
  position: absolute;
  top: 38%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #0f766e;
}

.caveText2 {
  position: absolute;
  top: 52%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  color: #0f766e;
}

.para1SVG {
  font-size: 4.6vw;
  font-weight: bold;
  fill: #0f766e;
}

.para2SVG {
  font-size: 2vw;
  font-weight: bold;
  fill: #0f766e;
}

.boardText {
  position: absolute;
  top: 50%;
  left: 50%;
     
}


.aboutUsContent {
  position: absolute;
  top: 40%;
  left: 70%;
  
}


.readMore {
 
  /* font-size: 0.92vw;  */
  margin-top: -3.5vw;
  position: absolute;
  left: 7vh;

}

.table {
  position: relative;
  bottom: -28.2vw;
  right: -19.7vw;
 
}

.elphe {
  position: absolute;
  bottom: -42.6vw;
  right: -1%;
}

.elphepaw {
  position: relative;
  width: 2.3vw;
  margin-bottom: -73.8vw;
  margin-left: -37%;
 
}

.para1SVG {
  font-size: 66.6px !important;
 
}

.para2SVG {
  font-size: 32px !important;
  
  
}

}

@media (min-width: 768px) and (max-width: 1024px) {

.para1SVG {
  font-size: 66px;
}

.para2SVG {
  font-size: 30px;
}

.charactersContainer {
  
  top: -1%;
  left: 50%;
 
}


}


@media (max-width: 767px) {

  .para1SVG {
  font-size: 70px;
}

.para2SVG {
  font-size: 30px;
}

.charactersContainer {
  
  top: 1%;
  left: 50%;
 
}
  
}