* {
  box-sizing: border-box;
}

.homeContainer {
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  height: 100vh;
}

.grassContainer {
  background-image: url('../assets/webp/bggrass.webp');
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-position: bottom center; */
  top: 370px !important;
  height:auto;
  min-height: 290vh;
  position: relative;
  /* background-color: transparent; */
  padding-bottom: 0;
  margin-bottom: 0;
}

.topSection {
  position: relative;
}

/* .treeContainer {
  position: relative;
} */

.treebottomgrass {
  position: absolute;
  left: -8px;
  width: 130%;
  margin-top:260px;
  z-index: 10;
}

/* .tree {
  position: absolute;
  left: 8px;
  top: -303px;
  width: 38%;
  z-index: 8;
} */
.treeContainer {
  position: relative;
  width: 38%;    
}

.tree {
  width: 80%;
  position: absolute;
  top: -203px;
  margin-left: 130px;
  z-index: 11;
}

.treeLinks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.treeLinks a {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  color: #065d11;
  text-decoration: none;
  cursor: pointer;
  pointer-events: auto;
}

.jingles {
  position: relative;
  margin-top:50px;
  margin-left: 180px;
  z-index: 20;
}

.interactive {
  position: relative; 
  margin-top: 32px;
  margin-left: 385px;
  z-index: 20;
}


.stories {
  position: relative;
  margin-top: 180px;
  margin-left: 390px;
  z-index: 20;
}

.mountainContainer {
  position: relative;

}

.mountain {
  position: absolute;
  top: -435px;
  width: 80%;
  height: 900px;
  left:335px;
  z-index: 2;
}

.boardContainer {
  position: absolute;
  top: 10px;
  left: 8%;
  transform: translate(-50%, -50%);
  z-index: 6;
}

.board {
  width: 420px;
  height: 350px;
  margin-top: 12.6rem;
  margin-left: 2304px;
}

.boardText {
  position: absolute;
  top: 350px;
  left: 88%;
  margin-left: 50px;
  transform: translate(-19%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.riverContainer {
  position: relative;
  top:-23px;
  left: 500px;
}

.river {
  position: absolute;
  width: 90%;
  top: 50px;
  left: -617px;
  z-index: 2;
}


.flowerCaveSection {
  position: absolute;
  margin-top: -8%;
  left: 9%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flowers {
  position: relative;
  z-index: 4;
  margin-top: 150px;
  margin-left: -10px;
  width: 75%;

}

.caveContainer {
  position: absolute;
  margin-top: 10%;
  margin-left: -10%;
  width: 55%;
  text-align: center;
  z-index: 10;
}

.cave {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;

}


.caveText {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  color: #004b23;
}

.caveText2 {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  color: #004b23;
}

.para1SVG {
  font-size: 4rem;
  font-weight: bold;
  fill: #004b23;
}

.para2SVG {
  font-size: 2rem;
  font-weight: bold;
  fill: #004b23;
}


.charactersContainer {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 20;
}

.leftGroup {
  position: relative;
  width: 40%;
}

.wood {
  width: 72%;
  position: relative;
  margin-bottom: -400px;
  left: 120px;
  z-index: 1;
}

.tiger {
  width: 60%;
  position:  relative;
  margin-bottom: -760px  ;
  left: 28%;
  z-index: 2;

}

.tigerPaw {
  position: absolute;
  width: 30px;
  padding-top: 580px;
  margin-bottom: 300px;
  margin-left: 140px;
  z-index: 3;
}

.rightGroup {
  position: relative;
  width: 40%;
}

.table {
  width: 80%;
  position: relative;
  bottom: -320px;
  right: -270px;
  z-index: 1;
}

.elphe {
  width: 70%;
  position: absolute;
  bottom: -560px;
  right: -5%;
  z-index: 2;
}

.elphepaw {
  position: relative;
  width: 35px;
  margin-bottom: -940px;
  margin-left: -43%;
  z-index: 3;
}

.boatWrapper {
  position: absolute;
  width: 70%;
  top: 140px;
  margin-left: 5%;
  transform: translateX(-50%);
  z-index: 90;
}

.boat {
  width: 100%;
  display: block;
}

.boatBtn {
  position: absolute;
  top: 61%;
  left: 80%;
  transform: translate(-50%, -50%);
  background: inherit;
  color: green;
  border: none;
  padding: 15px 30px;
  font-size: 2.2rem;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  z-index: 200;
}

.aboutUsSection {
  position: absolute;
  margin-top: -40%;
  margin-right: 2px;
  z-index: 10;
}


.aboutUsImageWrapper {
  position: relative;
  width: 110%;
  overflow: hidden;
  z-index: 10;
}

.aboutUsImage {
  width: 55%;
  display: block;
  margin-left: 40%;
  z-index: -50;
}

.aboutUsContent {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 20%;
  transform: translate(-50%, -50%); 
  width: 47%;
  padding: 2rem 2rem 1rem 2rem;
  background: transparent;
  /* font-size: 1rem; */
  /* color: #222; */
  line-height: 1.7;
  word-wrap: break-word;
  text-align: center;
  text-shadow: 1px 1px 8px #fff;
  border-radius: 1rem;
  box-sizing: border-box;
  z-index: 2;
  /* cursor: default; */
  text-decoration: none;
}

.aboutUsContent h2 {
  font-size: 2rem;
  color: #2fa43e;
  margin-bottom:-10px;
  margin-left: -25px;
  margin-top:1px;
  font-weight: bold;
}

.aboutText {
  font-size: 1.6rem;
  color: black;
  line-height: 1.8;
  word-wrap: break-word;
  /* display: inline; */
  text-align: left;
  /* margin-left: 250px ; */
  margin-right: 120px;
  margin-bottom: 210px;
  
}

.readMore {
  position: absolute;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  color: #2fa43e;
  margin-top: -15.8rem;
  margin-left: -340px;
  
}

