@font-face {
  font-family: "Adventuring";
  src: url("assets/fonts/Adventuring.ttf") format("truetype");
}
@font-face {
  font-family:"Brandon_regular";
  src: url("assets/fonts/Brandon_regular.otf") format("opentype");
}
@font-face{
  font-family: "Biscuit";
  src : url("assets/fonts/Biscuit\ Glitch.ttf")
}
:root{
  --font-adventuring: 'Adventuring', sans-serif;
  --font-brandon: 'Brandon_regular', sans-serif;
  --font-biscuit: 'Biscuit', sans-serif;
}
.font-adventuring {
  font-family: var(--font-adventuring);
}
.font-brandon {
  font-family: var(--font-brandon);
}
.font-biscuit {
  font-family: var(--font-biscuit);
}